trigger:
- main

pool:
  name: agent

stages:
- stage: Pull_Image
  displayName: Pull Docker Image
  jobs:
  - job: Pull
    steps:
    - script: |
        sudo docker pull nginx:alpine
      displayName: Pull NGINX Image

- stage: Image_Scan
  displayName: Scan Docker Image
  dependsOn: Pull_Image
  condition: succeeded()
  jobs:
  - job: Scan
    steps:
    - script: |
        sudo apt-get install wget apt-transport-https gnupg lsb-release -y
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
        echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
        sudo apt-get update -y
        sudo apt-get install trivy -y

    - script: |
        sudo trivy image --severity HIGH,CRITICAL --exit-code 1 nginx:alpine
      displayName: Scan NGINX Image

- stage: Deploy
  displayName: Deploy NGINX
  dependsOn: Image_Scan
  condition: succeeded()
  jobs:
  - job: Deploy
    steps:
    - script: |
        sudo docker run -d -p 80:80 nginx:alpine
      displayName: Run NGINX Container
